<html>
    <head>
    <title>Index Page</title>
    <meta charset="UTF-8">
    </head>
<body>
<h1 style="margin-bottom:20px">Welcome to ParkPlace!!</h1>
<a href="/register"><button>Register</button></a>
<br>
<a href="/login"><button>Login</button></a>
</body>
</html>