<html>
    <head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    </head>
<body>
<div style="margin:auto">
<h1>Login Form</h1>
<form method="POST" action="/login"> 
<div>
<input type="input" name="username" required></input>
</div>
<div>
<input type="password" name="password" required></input>
</div>
<div>
<input type="submit" style="width:50px"></input>
</div>
</form>
</div>
</body>
</html>