<html>
    <head>
    <title>Registration Page</title>
    <meta charset="UTF-8">
    </head>
<body>
<div style="margin:auto">
<h1>Registration Form</h1>
<form action="/register" method="POST">
<div>
<input type="emailAddress" name="email" required></input>
</div>
<div>
<input type="password" name="password" required></input>
</div>
<div>
<input type="submit" style="width:50px"></input>
</div>
</form>
</div>

</body>
</html>